---
const { title } = Astro.props;
---

<section>
<div class="container">
    {title && <h2>{title}</h2>}
    <slot />
</div>
</section>

<style>
    section {
      max-width: 800px;
      margin: 0 auto 48px;
      
    }
    .container {
      margin: 0 auto;
    max-width: 92%;
  }
  
    h2 {
      margin-bottom: 8px;
      font-weight: 700;
      line-height: 1.5;
      font-size: 1.5rem;
    }
  
    @media (width <= 700px) {
      section {
        margin-bottom: 38px;
      }
    }
  </style>